<html>

<head>
    <title>All Products</title>
</head>

<body>
    <div>
        <p>
        <%= name %>
        </p>
         <p>
         <%= price %>
         </p>
         <p>
       <%= category %>
        </p>
        <p>
         <%= detail %>
        </p>
        <p>
        <%= shop %>
        </p>
    </div>
</body>

</html>